## Import Libraries

In [2]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler

In [3]:
df = pd.read_csv('../data/marketing_campaign.csv', sep = '\t')
df.head(10)

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
0,5524,1957,Graduation,Single,58138.0,0,0,04-09-2012,58,635,...,7,0,0,0,0,0,0,3,11,1
1,2174,1954,Graduation,Single,46344.0,1,1,08-03-2014,38,11,...,5,0,0,0,0,0,0,3,11,0
2,4141,1965,Graduation,Together,71613.0,0,0,21-08-2013,26,426,...,4,0,0,0,0,0,0,3,11,0
3,6182,1984,Graduation,Together,26646.0,1,0,10-02-2014,26,11,...,6,0,0,0,0,0,0,3,11,0
4,5324,1981,PhD,Married,58293.0,1,0,19-01-2014,94,173,...,5,0,0,0,0,0,0,3,11,0
5,7446,1967,Master,Together,62513.0,0,1,09-09-2013,16,520,...,6,0,0,0,0,0,0,3,11,0
6,965,1971,Graduation,Divorced,55635.0,0,1,13-11-2012,34,235,...,6,0,0,0,0,0,0,3,11,0
7,6177,1985,PhD,Married,33454.0,1,0,08-05-2013,32,76,...,8,0,0,0,0,0,0,3,11,0
8,4855,1974,PhD,Together,30351.0,1,0,06-06-2013,19,14,...,9,0,0,0,0,0,0,3,11,1
9,5899,1950,PhD,Together,5648.0,1,1,13-03-2014,68,28,...,20,1,0,0,0,0,0,3,11,0

## Data Info

In [5]:
print('Shape of Data: ', df.shape)

Shape of Data:  (2240, 29)

In [6]:
print("\nDataset Information :")
print(df.info())

Dataset Information :
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2240 entries, 0 to 2239
Data columns (total 29 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   2240 non-null   int64
 1   Year_Birth           2240 non-null   int64
 2   Education            2240 non-null   object
 3   Marital_Status       2240 non-null   object
 4   Income               2216 non-null   float64
 5   Kidhome              2240 non-null   int64
 6   Teenhome             2240 non-null   int64
 7   Dt_Customer          2240 non-null   object
 8   Recency              2240 non-null   int64
 9   MntWines             2240 non-null   int64
 10  MntFruits            2240 non-null   int64
 11  MntMeatProducts      2240 non-null   int64
 12  MntFishProducts      2240 non-null   int64
 13  MntSweetProducts     2240 non-null   int64
 14  MntGoldProds         2240 non-null   int64
 15  NumDealsPurchases    2240 non-null   int64
 16  NumWebPurchases      2240 non-null   int64
 17  NumCatalogPurchases  2240 non-null   int64
 18  NumStorePurchases    2240 non-null   int64
 19  NumWebVisitsMonth    2240 non-null   int64
 20  AcceptedCmp3         2240 non-null   int64
 21  AcceptedCmp4         2240 non-null   int64
 22  AcceptedCmp5         2240 non-null   int64
 23  AcceptedCmp1         2240 non-null   int64
 24  AcceptedCmp2         2240 non-null   int64
 25  Complain             2240 non-null   int64
 26  Z_CostContact        2240 non-null   int64
 27  Z_Revenue            2240 non-null   int64
 28  Response             2240 non-null   int64
dtypes: float64(1), int64(25), object(3)
memory usage: 507.6+ KB
None

In [7]:
print("\nSummary statistics:")
print(df.describe())

Summary statistics:
                 ID   Year_Birth         Income      Kidhome     Teenhome  \
count   2240.000000  2240.000000    2216.000000  2240.000000  2240.000000
mean    5592.159821  1968.805804   52247.251354     0.444196     0.506250
std     3246.662198    11.984069   25173.076661     0.538398     0.544538
min        0.000000  1893.000000    1730.000000     0.000000     0.000000
25%     2828.250000  1959.000000   35303.000000     0.000000     0.000000
50%     5458.500000  1970.000000   51381.500000     0.000000     0.000000
75%     8427.750000  1977.000000   68522.000000     1.000000     1.000000
max    11191.000000  1996.000000  666666.000000     2.000000     2.000000

           Recency     MntWines    MntFruits  MntMeatProducts  \
count  2240.000000  2240.000000  2240.000000      2240.000000
mean     49.109375   303.935714    26.302232       166.950000
std      28.962453   336.597393    39.773434       225.715373
min       0.000000     0.000000     0.000000         0.000000
25%      24.000000    23.750000     1.000000        16.000000
50%      49.000000   173.500000     8.000000        67.000000
75%      74.000000   504.250000    33.000000       232.000000
max      99.000000  1493.000000   199.000000      1725.000000

       MntFishProducts  ...  NumWebVisitsMonth  AcceptedCmp3  AcceptedCmp4  \
count      2240.000000  ...        2240.000000   2240.000000   2240.000000
mean         37.525446  ...           5.316518      0.072768      0.074554
std          54.628979  ...           2.426645      0.259813      0.262728
min           0.000000  ...           0.000000      0.000000      0.000000
25%           3.000000  ...           3.000000      0.000000      0.000000
50%          12.000000  ...           6.000000      0.000000      0.000000
75%          50.000000  ...           7.000000      0.000000      0.000000
max         259.000000  ...          20.000000      1.000000      1.000000

       AcceptedCmp5  AcceptedCmp1  AcceptedCmp2     Complain  Z_CostContact  \
count   2240.000000   2240.000000   2240.000000  2240.000000         2240.0
mean       0.072768      0.064286      0.013393     0.009375            3.0
std        0.259813      0.245316      0.114976     0.096391            0.0
min        0.000000      0.000000      0.000000     0.000000            3.0
25%        0.000000      0.000000      0.000000     0.000000            3.0
50%        0.000000      0.000000      0.000000     0.000000            3.0
75%        0.000000      0.000000      0.000000     0.000000            3.0
max        1.000000      1.000000      1.000000     1.000000            3.0

       Z_Revenue     Response
count     2240.0  2240.000000
mean        11.0     0.149107
std          0.0     0.356274
min         11.0     0.000000
25%         11.0     0.000000
50%         11.0     0.000000
75%         11.0     0.000000
max         11.0     1.000000

[8 rows x 26 columns]

## Data Handling

In [9]:
def missing_col(df):
    col = df.columns
    for c in col:
        m = df[c].isnull().sum()
        p = m/(len(df))
        print(f'{c}: {p}')

In [10]:
print('Missing values in each column: ')
missing_col(df)

Missing values in each column:
ID: 0.0
Year_Birth: 0.0
Education: 0.0
Marital_Status: 0.0
Income: 0.010714285714285714
Kidhome: 0.0
Teenhome: 0.0
Dt_Customer: 0.0
Recency: 0.0
MntWines: 0.0
MntFruits: 0.0
MntMeatProducts: 0.0
MntFishProducts: 0.0
MntSweetProducts: 0.0
MntGoldProds: 0.0
NumDealsPurchases: 0.0
NumWebPurchases: 0.0
NumCatalogPurchases: 0.0
NumStorePurchases: 0.0
NumWebVisitsMonth: 0.0
AcceptedCmp3: 0.0
AcceptedCmp4: 0.0
AcceptedCmp5: 0.0
AcceptedCmp1: 0.0
AcceptedCmp2: 0.0
Complain: 0.0
Z_CostContact: 0.0
Z_Revenue: 0.0
Response: 0.0

In [11]:
df.dropna(inplace = True)

In [12]:
df.drop_duplicates(inplace = True)

## Fix Column Inconsistencies

The column, 'Dt_Customer' has type 'object' It contains information abiut dates, so let's convert it to a proper format

In [15]:
df['Dt_Customer'] = pd.to_datetime(df['Dt_Customer'], format='mixed', dayfirst=True)

Let's create a feature to record the customers who registered early or recently by creating a tenure column

## Feature Engineering

In [18]:
max_date = df['Dt_Customer'].max()
df['Customer_Tenure'] = (max_date - df['Dt_Customer']).dt.days

In [19]:
df.drop(columns = ['ID', 'Dt_Customer'], errors = 'ignore', inplace = True)

In [20]:
df.to_csv('../processed/processed_customers_raw.csv', index=False)

After performing EDA, we found that  'Z_CostContact', 'Z_Revenue' columns are not correlated to any of the other columns. Hence, we'll drop them.

In [22]:
df.drop(columns = ['Z_CostContact', 'Z_Revenue'], errors = 'ignore', inplace = True)

In [23]:
df['Total_Spend'] = df[[
    'MntWines', 'MntFruits', 'MntMeatProducts',
    'MntFishProducts', 'MntSweetProducts', 'MntGoldProds'
]].sum(axis=1)

In [24]:
df.drop(columns = ['MntWines', 'MntFruits', 'MntMeatProducts','MntFishProducts', 'MntSweetProducts', 'MntGoldProds'], inplace = True)

### Refined Family_Size based on marital status

In [26]:
def calculate_family_size(row):
    if row['Marital_Status'] == 'Partnered':
        return 2 + row['Kidhome'] + row['Teenhome']
    else:
        return 1 + row['Kidhome'] + row['Teenhome']

df['Family_Size'] = df.apply(calculate_family_size, axis=1)

In [27]:
df.drop(columns = ['Kidhome', 'Teenhome'], inplace = True)

In [28]:
df['Marital_Status'] = df['Marital_Status'].replace({
    'Married': 'Partnered',
    'Together': 'Partnered',
    'Single': 'Single',
    'Divorced': 'Single',
    'Widow': 'Single',
    'Alone': 'Single',
    'Absurd': 'Other',
    'YOLO': 'Other'
})

In [29]:
df['Total_Campaigns_Accepted'] = df[['AcceptedCmp1', 'AcceptedCmp2', 'AcceptedCmp3', 'AcceptedCmp4', 'AcceptedCmp5']].sum(axis=1)

In [30]:
df.drop(columns = ['AcceptedCmp1', 'AcceptedCmp2', 'AcceptedCmp3', 'AcceptedCmp4', 'AcceptedCmp5'], inplace = True)

Let's create a new feature called 'Age' using 'Year-Birth'

In [32]:
df['Year_Birth'].max()

1996

We'll take max date as the reference to calculate the age of the customer

In [34]:
df['Age'] = max_date.year - df['Year_Birth']

In [35]:
df.drop(columns = ['Year_Birth'], inplace = True)

Let's save a non-scaled version of the data so that later we can use it to analyse each cluster

In [37]:
df.to_csv('../processed/processed_customers_unscaled.csv', index = False)

## Encoding Categorical Columns

In [39]:
df = pd.get_dummies(df, columns = ['Education', 'Marital_Status'], drop_first = True)

In [40]:
df.columns

Index(['Income', 'Recency', 'NumDealsPurchases', 'NumWebPurchases',
       'NumCatalogPurchases', 'NumStorePurchases', 'NumWebVisitsMonth',
       'Complain', 'Response', 'Customer_Tenure', 'Total_Spend', 'Family_Size',
       'Total_Campaigns_Accepted', 'Age', 'Education_Basic',
       'Education_Graduation', 'Education_Master', 'Education_PhD',
       'Marital_Status_Partnered', 'Marital_Status_Single'],
      dtype='object')

## Scaling

In [42]:
scaler = StandardScaler()
scaled = scaler.fit_transform(df)

df_scaled = pd.DataFrame(scaled, columns = df.columns)
df_scaled.to_csv('../processed/processed_customers.csv', index=False)